{% include base_path %}

<div class="page__footer-follow">
  <ul class="social-icons">
    <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} By the amazing <a href="https://github.com/epfl-ada/ada-2022-project-teamjose">Team José</a></div>
